/* the message container */
.msg {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
/* message profile picture container */
.msgPfp {
  border-radius: 50%;
}
/* message container */
.msgText {
  padding: 0 1rem;
}
/* message time stamp */
#msgTime {
  color: rgb(148, 155, 164);
  font-size: 0.7rem;
}
/* message display name */
#msgTime span {
  font-weight: 600;
  font-size: 0.9rem;
  color: #eee;
  margin-right: 0.3rem;
}
/* the messages */
/* important highlights */
.msgText b {
  font-size: 1.2rem;
  font-weight: 600;
}
/* normal */
.msgText span {
  line-height: 1.7rem;
  font-size: 0.9rem;
}

/* the about paragraph */
.aboutParagraph {
  padding: 0 3rem;
  font-size: 0.87rem;
}
.aboutParagraph p {
  margin: 0.7rem 0;
}

/* osi */
.osiPara {
  margin: 2rem 3rem 0 3rem;
  color: #afafaf;
  font-size: 0.8rem;
}
.osiPara a {
  color: #eee;
}
.osiPara a:hover {
  text-decoration: underline;
}
.starButton {
  margin: 0.8rem 3rem;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0.5rem 0.7rem;
  background-color: #9494943f;
  width: fit-content;
  border-radius: 8px;
}

/* footer */
.socials {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.socials a {
  margin: 0 0.5rem;
}
.socials a:hover {
  opacity: 0.8;
}
.socials b {
  margin-right: 0.8rem;
  font-weight: 400;
  font-size: 13px;
  color: #afafaf;
}
