.container {
  width: 100%;
}
.welcome {
  display: flex;
  padding: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.settingsDisplay {
  height: 15rem;
  margin: 1rem 0;
  width: 100%;
  border: 1.5px var(--border-color) dashed;
  border-radius: 1rem;
}

#playButton {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease-in 100ms;
}

#playButton:hover {
  opacity: 0.95;
  scale: 1.1;
  box-shadow: inset -1px -2px 3px 3px #454545;
}
